<WebResourceDeployer>
  <Connections>
    <Connection>
      <Name>CRM 2016 Test</Name>
      <OrgId>69b15447-05b1-4526-9e94-79da19bd612a</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vbXNwNDY2MDM2LmNybS5keW5hbWljcy5jb207VXNlcm5hbWU9YWRtaW5AbXNwNDY2MDM2Lm9ubWljcm9zb2Z0LmNvbTtQYXNzd29yZD0ncGFzc0B3b3JkMSc7</ConnectionString>
      <Version>8.1.0.526</Version>
    </Connection>
  </Connections>
  <Files>
    <File>
      <OrgId>69b15447-05b1-4526-9e94-79da19bd612a</OrgId>
      <Path>/Pages/TestPage.html</Path>
      <WebResourceId>93888304-b8a0-e611-80f5-fc15b428dcdc</WebResourceId>
      <WebResourceName>o4u_/Pages/TestPage.html</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>69b15447-05b1-4526-9e94-79da19bd612a</OrgId>
      <Path>/Scripts/CrmWebApi.js</Path>
      <WebResourceId>1e92590b-b8a0-e611-80f5-fc15b428dcdc</WebResourceId>
      <WebResourceName>o4u_/Scripts/CrmWebApi.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
  </Files>
</WebResourceDeployer>